<h2>Exercise</h2>

<form id="editExerciseForm" method="POST" action="/exercises/{{exercise.id}}/edit" class="edit">
    <input type="hidden" name="id" id="editExerciseId" value="{{exercise.id}}">
    <label for="editCategory">Category:</label>
    <input type="text" name="category" id="editCategory" value="{{exercise.category}}">
    <label for="editOrder">Order:</label>
    <input type="text" name="sortOrder" id="editOrder" value="{{exercise.sortOrder}}">
    <label for="editTitle">Title:</label>
    <input type="text" name="title" id="editTitle" value="{{exercise.title}}">
    <label for="editYamlUrl">YAML&nbsp;URL:</label>
    <input type="text" name="yamlUrl" id="editYamlUrl" value="{{exercise.yamlUrl}}">
    <div></div>
    <button type="submit">Save</button>
</form>