<h2>Exercise</h2>

<form id="editExerciseForm" method="POST" action="/exercises/edit" class="edit">
    <input type="hidden" name="id" id="editExerciseId" value="{{exercise.id}}">
    <label for="editTitle">Title:</label>
    <input type="text" name="title" id="editTitle" value="{{exercise.title}}">
    <label for="editDescription">Description (Markdown):</label>
    <textarea name="descriptionMd" id="editDescription" rows="10">{{exercise.descriptionMd}}</textarea>
    <label for="editIcon">Icon:</label>
    <input type="text" name="icon" id="editIcon" value="{{exercise.icon}}">
    <label for="editYamlUrl">YAML URL:</label>
    <input type="text" name="yamlUrl" id="editYamlUrl" value="{{exercise.yamlUrl}}">
    <div></div>
    <button type="submit">Save</button>
</form>